@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* 'primary': {
    '50': '#f5fbea',
    '100': '#e8f6d1',
    '200': '#d3eea8',
    '300': '#aadc61',
    '400': '#98d04b',
    '500': '#7ab62c',
    '600': '#5d911f',
    '700': '#486f1c',
    '800': '#3b581c',
    '900': '#334b1c',
    '950': '#19290a',
}, */


/* secondary: {
    '50': '#e8ffff',
    '100': '#c5feff',
    '200': '#92fbff',
    '300': '#47f6ff',
    '400': '#00eeff',
    '500': '#00ebff',
    '600': '#00bbd7',
    '700': '#0092ac',
    '800': '#006d84',
    '900': '#055d74',
    '950': '#003f51',
}, */

/* 'tutor-purple': {
    '50': '#faf5ff',
    '100': '#f2e8ff',
    '200': '#e7d4ff',
    '300': '#ddc1ff',
    '400': '#bc82fe',
    '500': '#a253f9',
    '600': '#8d31ec',
    '700': '#7820d0',
    '800': '#661faa',
    '900': '#541b88',
    '950': '#380665',
}, */

/* 'tutor-red': {
    '50': '#fef3ee',
    '100': '#fde4d7',
    '200': '#fbc6ad',
    '300': '#f79e7a',
    '400': '#f25f33',
    '500': '#f0471f',
    '600': '#e12e15',
    '700': '#ba2014',
    '800': '#941c18',
    '900': '#781916',
    '950': '#410909',
}, */


:root {
  --background: oklch(0.9766 0.0034 174.48);
  --foreground: oklch(0.21 0.03 252);
  --card: oklch(100% 0.00011 271.152);
  --card-foreground: oklch(0.21 0.03 252);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.03 252);
  --primary: oklch(0.8341 0.1615 127.99);
  --primary-foreground: oklch(0.18 0.03 252);
  --secondary: oklch(0.3417 0.0643 224.25);
  --secondary-foreground: oklch(90.065% 0.01341 251.722);
  --muted: oklch(0.93 0.01 225);
  --muted-foreground: oklch(0.53 0.03 244);
  --accent: oklch(0.95 0.012 162);
  --accent-foreground: oklch(0.24 0.04 252);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.88 0.01 220);
    --input: oklch(0.88 0.01 220);
    --ring: oklch(0.79 0.17 154);
    --chart-1: oklch(0.79 0.17 154);
    --chart-2: oklch(0.67 0.11 189);
    --chart-3: oklch(0.58 0.07 218);
    --chart-4: oklch(0.73 0.13 89);
    --chart-5: oklch(0.64 0.17 35);
    --radius: 0.625rem;
    --sidebar: oklch(0.97 0.01 205);
    --sidebar-foreground: oklch(0.21 0.03 252);
    --sidebar-primary: oklch(0.79 0.17 154);
    --sidebar-primary-foreground: oklch(0.18 0.03 252);
    --sidebar-accent: oklch(0.94 0.012 162);
    --sidebar-accent-foreground: oklch(0.24 0.04 252);
    --sidebar-border: oklch(0.88 0.01 220);
    --sidebar-ring: oklch(0.79 0.17 154);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.8341 0.1615 127.99);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.3417 0.0643 224.25);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --color-tutor-purple-50: #faf5ff;
    --color-tutor-purple-100: #f2e8ff;
    --color-tutor-purple-200: #e7d4ff;
    --color-tutor-purple-300: #ddc1ff;
    --color-tutor-purple-400: #bc82fe;
    --color-tutor-purple-500: #a253f9;
    --color-tutor-purple-600: #8d31ec;
    --color-tutor-purple-700: #7820d0;
    --color-tutor-purple-800: #661faa;
    --color-tutor-purple-900: #541b88;
    --color-tutor-purple-950: #380665;
    
    --color-tutor-red-50: #fef3ee;
    --color-tutor-red-100: #fde4d7;
    --color-tutor-red-200: #fbc6ad;
    --color-tutor-red-300: #f79e7a;
    --color-tutor-red-400: #f25f33;
    --color-tutor-red-500: #f0471f;
    --color-tutor-red-600: #e12e15;
    --color-tutor-red-700: #ba2014;
    --color-tutor-red-800: #941c18;
    --color-tutor-red-900: #781916;
    --color-tutor-red-950: #410909;

    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}